<a href="https://colab.research.google.com/github/Chetan188/Python_Labs/blob/main/Lab_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1 Using input() function take one number from the user and using ternary operators check whether the number is even or odd

In [ ]:
num1=int(input("Enter the Number : "))

def evenOdd(num1):
    if num1%2==0:
        print("Number is Even")
    else:
        print("Number is Odd")
evenOdd(num1)

Enter the Number : 45
Number is Odd

Q.2 Using input function take two number and then swap the number

In [ ]:
num1=int(input("Enter the First Number: "))
num2=int(input("Enter the second number: "))

def swap(num1,num2):
  temp=num1
  num1=num2
  num2=temp
  return num1,num2
print("Swapped numbers",swap(num1,num2))

Enter the First Number45
Enter the second number18
Swapped numbers (18, 45)

Q.3 Write a Program to Convert Kilometers to Miles

In [ ]:
km=int(input("Enter the Kilometers"))

def kmToMiles(km):
    miles=km*0.621371
    return miles
print("Miles",kmToMiles(km))

Enter the Kilometers50
Miles 31.068550000000002

Q.4Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

In [ ]:
simpleInterest=200*5*0.05
print("Simple Interest is",simpleInterest)

Simple Interest is 50.0

In [ ]:
b=int(input("First num : "))
c=int(input("second num: "))

def square(b,c):
  return b**2,c**2

print("Square of both are: ",   square(b,c))

First num : 40
second num: 50
Square of both are:  (1600, 2500)