<a href="https://colab.research.google.com/github/Chetan188/Python_Labs/blob/main/Lab_day_15_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q .1. Write a Python program to Get Only unique items from two sets.

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
unique_items = set1.union(set2)
print(unique_items)

{70, 40, 10, 50, 20, 60, 30}

Q 2. Write a Python program to Return a set of elements present in Set A or B, but not both.

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
res = set1.symmetric_difference(set2)
print(res)

{20, 70, 10, 60}

Q. 3. Write a Python program to Check if two sets have any elements in common. If yes, display the common elements.

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
common_elements = set1.intersection(set2)
if common_elements:
    print("The common elements are:", common_elements)
else:
    print("There are no common elements between the two sets.")

The common elements are: {10}

Q .4. Write a Python program to Remove items from set1 that are not common to both set1 and set2.

In [ ]:
 set1 = {10, 20, 30, 40, 50}
 set2 = {30, 40, 50, 60, 70}
 set1.intersection_update(set2)
 print(set1)

{40, 50, 30}