<a href="https://colab.research.google.com/github/Chetan188/Python_Labs/blob/main/Lab_Day_14_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1. Write a Python program to find the number of times 4 appears in the tuple.

In [ ]:
 tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )
 count = tuplex.count(4)
 print(count)

3

Q 2.Write a Python program to convert a list to a tuple.

In [ ]:
 listx = [5, 10, 7, 4, 15, 3]
 list_to_tuple = tuple(listx)
 print(list_to_tuple)

(5, 10, 7, 4, 15, 3)

Q.3. Write a Python program to calculate the sum of the numbers in a given tuple.

In [ ]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
result = sum(map(sum, tuples_list))
print(result)

21

Q 4.Write a python program and iterate the given tuples

In [ ]:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
employees = [employee1, employee2, employee3]
for employee in employees:
    print(employee)

('John Doe', 101, 'Human Resources', 60000)
('Alice Smith', 102, 'Marketing', 55000)
('Bob Johnson', 103, 'Engineering', 75000)